.section__index {

    & section:nth-child(1) {

        height: 100vh;
        
        & article {

            display: flex;
            align-items: flex-end;
            height: 100%;
            margin-left: 0;

            & h1 {

                margin: 0 32px 48px 32px;
                max-width: 900px;


                & span {
                    font-family: var(--principalTypo__medium);
                }

            }
        }
    }

    & section:nth-child(2) {

        background-color: var(--principal__10);
        height: fit-content;

        & h3 {

            font-size: 20px;

        }

        & p {

            font-family: var(--principalTypo__light);
            color: var(--principal__100);
            width: 95% !important;
            margin-bottom: 32px;
            line-height: 1.3;
            font-size: 17px;

        }

        & hr {

            margin-top: 40px;

        }

        & article:nth-child(2){
           
            margin-top: 24px;

            & div {

                display: flex;
                align-items: center;
                margin-bottom: 16px;
    
                & div:nth-child(1) {

                    font-family: var(--principalTypo__medium);
                    font-size: 96px;
                    margin-right: 16px;
                    line-height: .8;

                }

                & div:nth-child(2) {

                    display: flex;
                    line-height: 1.1;
                    flex-wrap: wrap;

                    & span:nth-child(1) {

                        font-size: 16px;
                        font-family: var(--principalTypo__medium);
                        width: 100%;
                        display: block;
                        margin-bottom: 8px;

                    }

                    & span:nth-child(2) {

                        font-size: 12px;
                        font-family: var(--principalTypo__light);

                    }

                }

            }

            & div:nth-child(2){


                & div:nth-child(1) {

                    order: 2;
                    margin: 0 0 0 16px;

                }

                & div:nth-child(2) {

                    order: 1;

                }
        

            }

            & div:nth-child(3) {

                margin-bottom: 0;

            }

        }

    }

    & section:nth-child(3) {

        height: fit-content;
        width: 100%;

        & h3 {


        }

        & article {

            margin-top: 32px;

            & .project__card {

                margin-bottom: 72px;

                & img {
                    aspect-ratio: 16/10;
                    width: 100%;
                    margin-bottom: 16px;
                }

                & li {
                    border-top: 1px solid var(--principal__100);
                    font-size: 18px;
                    font-family: var(--principalTypo__regular);
                    padding: 12px 0 12px 0;
                    display: flex;
                    justify-content: space-between;
                }

                & li:nth-child(1) {
                   
                    & span:nth-child(2)::after {
                        content: "";
                        border-radius: 100%;
                        padding: 1px 12px;
                        margin-left: 12px;
                    }

                }

            }

            & .project__card:nth-child(1){
                & li:nth-child(1) {
                    & span:nth-child(2)::after {
                        background-color: var(--editorial__50);
                    }
                }
            }

            & .project__card:nth-child(2){
                & li:nth-child(1) {
                    & span:nth-child(2)::after {
                        background-color: var(--branding__50);
                    }
                }
            }

            & .project__card:nth-child(3){
                & li:nth-child(1) {
                    & span:nth-child(2)::after {
                        background-color: var(--packaging__50);
                    }
                }
            }

            & .project__card:nth-child(4){
                & li:nth-child(1) {
                    & span:nth-child(2)::after {
                        background-color: var(--branding__50);
                    }
                }
            }

            & .project__card:nth-child(5){

                & li:nth-child(1) {
                    & span:nth-child(2)::after {
                        background-color: var(--campaigns__100);
                    }
                }
            }

            & .project__card:nth-child(6){

                margin-bottom: 0;

                & li:nth-child(1) {
                    & span:nth-child(2)::after {
                        background-color: var(--illustration__50);
                    }
                }
            }

        }

    }

    & section:nth-child(4) {

        background-color: var(--principal__10);
        height: fit-content;

        & article {

            & h3 {

                margin-bottom: 40px;
    
            }
    
            & p {

                font-family: var(--principalTypo__light);
                color: var(--principal__100);
                margin-bottom: 40px;
    
                & span {
                    font-family: var(--principalTypo__medium);
                }
            }

        }

        & form {

            margin-bottom: 40px;
            text-align: right;

            & li {

                margin-top: 24px;

                & input, textarea {

                    width: 100%;
                    background-color: rgb(255, 255, 255, 0);
                    border: none;
                    border-bottom: 1px solid var(--principal__100);
                    padding: 10px 0;
                    font-family: var(--principalTypo__light);
                    font-size: 15px;
                    height: 40px;

                }

                & textarea {

                    resize: none;
                    overflow: hidden;
                    transition: ease all .5s;

                }

                & ::placeholder {

                    color: var(--principal__50);
                    opacity: 1;

                }

                & :focus {

                    outline:0px;

                }

                & :focus::placeholder {

                    color: var(--principal__100);

                }

                & button {

                    font-size: 14px;
                    font-family: var(--principalTypo__regular);
                    color: #fff;
                    padding: 10px 48px;
                    border-radius: 24px;
                    border: none;
                    background-color: var(--campaigns__100);
                    margin-top: 40px;
                    transition: ease all .5s;

                }

            } 

        }

        & p {

            font-family: var(--principalTypo__light);
            color: var(--principal__100);
            font-size: 22px;

        }

    }
    
}

/* ---------------------------------------------- Queries */


@media only screen and (min-width: 860px) and (orientation: landscape) {

    .section__index {

        & section:nth-child(1) {

            padding-left: 72px;

            & article {

                display: flex;
                align-items: flex-end;
                height: calc(100% - 132px);
                padding: 0;
                padding-bottom: 56px;
        
                & h1 {

                    width: 80%;
                    margin-bottom: 0 !important;
                    margin-left: 0;
        
                    & span {

                        font-family: var(--principalTypo__medium);
                        
                    }
        
                }
            }

        }

        & section:nth-child(2){

            & article:nth-child(1) {

                & h3 {

                    font-size: 48px;

                }

                & p {

                    font-size: 32px;

                }

                & hr {

                    margin-top: 72px;
                    margin-bottom: 72px;
        
                }

            }

            & article:nth-child(2) {

                display: flex;

                & > div {

                    /* border: 1px solid black; */
                    width: 33.33%;

                }

                & div {

                    margin-bottom: 0;
        
                    & div:nth-child(1) {
    
                        font-size: 10vw;
                        margin-right: 2vw;
                        line-height: .76;
    
                    }
    
                    & div:nth-child(2) {
    
                        line-height: 1.1;
                        height: 100%;
    
                        & span:nth-child(1) {
    
                            font-size: 3vh;
                            margin-bottom: 0px;
    
                        }
    
                        & span:nth-child(2) {
    
                            font-size: 1.2vw;
                            align-self: flex-end;
                            margin-right: 1.5vw;
    
                        }
    
                    }
    
                }
    
                & div:nth-child(2){
    
    
                    & div:nth-child(1) {
    
                        order: 1;
                        margin: 0;
                        margin-right: 2vw;
    
                    }
    
                    & div:nth-child(2) {
    
                        order: 2;
                        
    
                    }
            
    
                }
    
                & div:nth-child(3) {
    
                    margin-bottom: 0;
                    margin-right: 0;
                    
                    & span:nth-child(2) {

                        margin-right: 0 !important;

                    }
    
                }

            }

        }

        & section:nth-child(3) {

            & h3 {


            }
        
            & article {

                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: auto;
                margin-top: 64px;

                & .project__card {

                    width: 48.5%;

                }
            }

        }

        & section:nth-child(4) {
        
            & article {

                margin: auto;


                & p {

                    font-size: 22px;
                    font-family: var(--principalTypo__light);
                    max-width: 980px;

                }

            }

            & form {
        
                & li {
        
                    width: 50%;
        
                } 

                & li:nth-child(3) {

                    width: 100%;
                    display: flex;
                    align-items: flex-end;

                    & textarea {

                        margin-right: 72px;

                    }

                }

                & button {

                    margin: 0 !important;
                    cursor: pointer;

                    &:hover {

                        background-color: var(--campaigns__50);

                    }

                    &:active {

                        background-color: var(--campaigns__100);

                    }
                }

            }

        }


    }

}